body {
    padding-top:10px; 
}

.container{
    width: 500px;
    margin: 0 auto;
    color: #333;
    line-height: 1.5;
    letter-spacing: 1px;
    
}
.container p{
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}
h2 a{
    text-decoration:none;
}
h4{
    text-transform: capitalize; 
}
a:link, a:visited{
    color: #F16C63;
}

.menu ul{
 list-style-type: none;   
}
.menu li{
    display: inline-block;
    text-transform: capitalize;
}
small{
    font-style: italic;
}