.topSpace{
    margin-top: 22px;
}
/* Override feedback icon position */
.has-feedback .form-control-feedback {
	right: 52px;
}
body {
	font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
	font-size: 14px;
}

.firstRow, .btnSpace{
	margin-top:12px;
}
 .btnBtmSpace{
    margin-bottom: 12px;
}